:root {
    --main-bg-colors: white;
}

body {
    font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: #2C3A49;
    text-align: center;
}

#app-header {
    width: 100%;
    align-content: center;
}

.wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
      
}

#left-side {
    margin-left: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    align-items: center;
    align-content: center;
    grid-column: 1;
    text-align: center;

}

#right-side {
    margin-right: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    grid-column: 2;

}


#analyse-container {
    align-content: space-around;
}

#tabs-container {
    width: 70%;
    
}

.custom-tabs {
    align-items: center;
}

.custom-tab {
    background-color: transparent !important;
    justify-content: center;
    padding: 12px !important;
    border-color: transparent !important;
}

.custom-tab--selected {
    color: black;
    box-shadow: 1px 1px 0px white;
    border-top: 3px solid #e36209 !important;
}


#graph-with-slider {
    background-color: #2C3A49;
}


.app-header .app-header--title {
    font-size: 22px;
    padding-left: 5px;
}

.rc-slider-track {
    background-color: red;
  }
  
  .rc-slider-dot-active {  
    border-color: red;
    border: solid 2px red;
  }
  
  .rc-slider-handle {
    background-color: red;
    border-color: red;
  }
  
  .rc-slider-handle:hover {
    border-color: red;
  }
  
  .rc-slider-handle-active:active {
    border-color: red;
  }