:root {
    --main-bg-colors: white;
}

body {
    font-family: sans-serif;
    background-color: #072542;
    color: #FFFFFF;
}
h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
    text-align: center;
}

#logo {
    height: 100px;
    float: left;
    grid-column: 1;
    grid-row: 1;
}

#no-logo-layer{
    grid-column: 1;
    grid-row: 1;
}

#app-header {
    width: 100%;
    align-content: center;
    color: #FFFFFF;
    display: grid;
}

.wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;     
}

.download-wrapper{
    width: 100%;
    grid-column: 1 / 3;
    text-align: center;  
}

#password-wrapper{
    text-align: center;
    width: 100%;
}

#attackVector-wrapper{
    align-items: center;
    text-align: center;
    width: 100%;
}

#phishing-wrapper {
    align-items: center;
    text-align: center;
    width: 100%;
}

.btn_csv {
    margin: auto;
    transition-duration: 0.4s;
    height: 40px;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid #9e5afd;
    color: white;
  }
  
.btn_csv:hover {
background-color: #9e5afd; /* Green */
color: white;
}


#left-side {
    margin-left: 50px;
    align-items: center;
    align-content: center;
    grid-column: 1;
    text-align: center;

}

#right-side {
    margin-right: 50px;
    text-align: center;
    align-content: center;
    grid-column: 2;
    align-items: center;

}

#dataBreaches-wrapper{
    text-align: center;
    width: 100%;
}

#dataBreach {
    width: 50%;
    float: left;
}

#databreach-chart-wrapper{
    display: inline-block;
    width: 100%;
}

#slider-wrapper{
    width: 100%;

}

#year-slider{
    width: 95%;
}

#year-overview{
    width: 50%;
    float: left;
}



#information-wrapper{
    position: relative;
    top: 20%;
}

#information-wrapper p {
    font-size: 16px;
    text-align: justify;
}


.time {
    flex-wrap: wrap;
    float: left;
    width: 25%;
}

.time-day {
    flex-wrap: wrap;
    float: left;
    width: 33%;
}

#tabs-container {
    width: 70%;
    
}

.custom-tabs {
    align-items: center;
}

.custom-tab {
    background-color: transparent !important;
    justify-content: center;
    padding: 12px !important;
    border-color: transparent !important;
}

.custom-tab--selected {
    color: #FFFFFF !important;
    border-bottom: 3px solid #4DDBE3 !important;
}

#what-phishing-wants {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;  
}

.donut-wrapper{
    text-align: center;
    align-content: center;
}

.donut-wrapper p{
    margin: auto;
    width: 70%;
}

.dounut {
    margin: auto;
    width: 80%;
}

.dropdown {
    color: #000;
}

#failbar-wrapper{
    width: 70%;
    float: left;
}
#failinfo-wrapper {
    align-content: center;
    width: 25%;
    float: left;
    height: 700px;
}



.app-header .app-header--title {
    font-size: 22px;
    padding-left: 5px;
}

.rc-slider-track {
    background-color: #4DDBE3;
  }
  
  .rc-slider-dot-active {  
    border-color: #4DDBE3;
    border: solid 2px #4DDBE3;
  }
  
  .rc-slider-handle {
    background-color: #4DDBE3;
    border-color: #4DDBE3;
  }
  
  .rc-slider-handle:hover {
    border-color: #4DDBE3;
  }
  
  .rc-slider-handle-active:active {
    border-color: #4DDBE3;
  }